/*  columns grid - large devices*/
@import "size.scss";
.col1
{
flex: 9%;
width: 100%;
@media #{$small}{
    overflow:hidden;
}

@media #{$medium}{
    overflow:hidden;
}
}

.col2{
    flex:19%;
    height: auto;
    width: 100%;
}
.col3{
    flex:29%;
    height: auto;
    width: 100%;

    @media #{$medium}{
        flex:90%;
    }
}

.col4{
    flex:39%;
    height: auto;
    width: 100%;
}
.col5{
    flex:49%;
    height: auto;
    width: 100%;
}
.col6{
    flex:59%;
    height: auto;
    width: 100%;
}
.col7{
    flex:70%;
    height: auto;
    width: 100%;
}
.col8{
    flex: 79%;
    height: auto;
    width: 100%;
    align-items: center;
    @media #{$small}{
        flex: 100%;
        overflow:hidden;
    }

    @media #{$medium}{
        flex: 100%;
        overflow:hidden;
    }
}
.col9{
    flex:89%;
    height: auto;
}
.col10{
    flex:99%;
    height: auto;
    @media #{$small}{
        overflow:hidden;
    }

    @media #{$medium}{
        overflow:hidden;
    }
}

/* medium devices columns*/
@media (min-width: 768px) and (max-width: 1023px){

    col-m-0{display:none}
    
    .col-m-1{
    flex: 9%;
    width: 100%;

    }

    .col-m-2{
        flex:19%;
        height: auto;
        width: 100%;
    }
    .col3-m-3{
        flex:29%;
        height: auto;
        width: 100%;
    }

    .col-m-4{
        flex:39%;
        height: auto;
        width: 100%;
    }
    .col-m-5{
        flex:49%;
        height: auto;
        width: 100%;
    }
    .col-m-6{
        flex:59%;
        height: auto;
        width: 100%;
    }
    .col-m-7{
        flex:70%;
        height: auto;
        width: 100%;
    }
    .col-m-8{
        flex: 79%;
        height: auto;
        width: 100%;
        align-items: center;
    }
    .col-m-9{
        flex:89%;
        height: auto;
    }
    .col-m-10{
        flex:99%;
        height: auto;
    }
}

/*  classes for small devices */

@media (max-width: 767px){
    .col-s-0{display:none}

    .col-s-1{
    flex: 9%;
    width: 100%;

    }

    .col-s-2{
        flex:19%;
        height: auto;
        width: 100%;
    }
    .col-s-3{
        flex:29%;
        height: auto;
        width: 100%;
    }

    .col-s-4{
        flex:39%;
        height: auto;
        width: 100%;
    }
    .col-s-5{
        flex:49%;
        height: auto;
        width: 100%;
    }
    .col-s-6{
        flex:59%;
        height: auto;
        width: 100%;
    }
    .col-s-7{
        flex:70%;
        height: auto;
        width: 100%;
    }
    .col-s-8{
        flex: 79%;
        height: auto;
        width: 100%;
        align-items: center;
    }
    .col-s-9{
        flex:89%;
        height: auto;
    }
    .col-s-10{
        flex:99%;
        height: auto;
    }
}