/*  columns grid*/

.col1
{
flex: 9%;
height: 100%;

}

.col2{
    flex:19%;
    height: auto;
    width: 100%;
}
.col3{
    flex:29%;
    height: auto;
    
}

.col4{
    flex:39%;
    height: auto;
    width: 100%;
}
.col5{
    flex:49%;
    height: auto;
    width: 100%;
}
.col6{
    flex:59%;
    height: auto;
    width: 100%;
}
.col7{
    flex:70%;
    height: auto;
    width: 100%;
}
.col8{
    flex: 79%;
    height: auto;
    width: 100%;
    align-items: center;
}
.col9{
    flex:89%;
    height: auto;
}
.col10{
    flex:99%;
    height: auto;
}

