/*  columns grid*/

.col1
{
flex: 10%;
height: auto;
}

.col2{
    width:20%;
    height: auto;
}
.col3{
    width:30%;
    height: auto;
}

.col4{
    width:40%;
    height: auto;
}
.col5{
    width:50%;
    height: auto;
}
.col6{
    width:60%;
    height: auto;
}
.col7{
    width:70%;
    height: auto;
}
.col8{
    flex: 80%;
    height: auto;
}
.col9{
    width:90%;
    height: auto;
}
.col10{
    width:100%;
    height: auto;
}

