@import "../css/reset.scss";
@import "../css/columns.scss";
@import "colors.scss";

@mixin centerall {
    display:flex;
    align-items: center;
    justify-content:center;  
    text-align: center;
    
    }



.container{
    width: 100%;
    @include centerall();
    button{
        background: white;
        border:1px solid black;
        color:black;
        border-radius:3px;
        width: 20%;
        height: 32px;
    }

    i{
        height: 25px;
        width: 25px;
        margin-right: 3%;
        color:$medium-grey;
    }
    
    img{
        width: 100%;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    @include centerall();
}
.bottom{
    height: 50px;
}
.bar{
    border: 1px solid black;
    height:65px;
    
}
.bar2{
    height:50px;
 ul{
     li:nth-child(1){
        margin:0;
     }
    li{
        display: inline;
        margin-left: 1%;
        line-height: 50px;
        vertical-align: middle;
        a{
            color: rgba(0,0,0,0.54);
            text-decoration: none;
            font-size: 15px;
            font-family: medium,content,sans-serif;
            &:hover{
                color:darkgray;
            }
        }
 }
}
}