html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  columns grid*/
.col1 {
  -webkit-box-flex: 9%;
      -ms-flex: 9%;
          flex: 9%;
  height: auto;
}

.col2 {
  -webkit-box-flex: 19%;
      -ms-flex: 19%;
          flex: 19%;
  height: auto;
  width: 100%;
}

.col3 {
  -webkit-box-flex: 29%;
      -ms-flex: 29%;
          flex: 29%;
  height: auto;
}

.col4 {
  -webkit-box-flex: 39%;
      -ms-flex: 39%;
          flex: 39%;
  height: auto;
  width: 100%;
}

.col5 {
  -webkit-box-flex: 49%;
      -ms-flex: 49%;
          flex: 49%;
  height: auto;
  width: 100%;
}

.col6 {
  -webkit-box-flex: 59%;
      -ms-flex: 59%;
          flex: 59%;
  height: auto;
  width: 100%;
}

.col7 {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  height: auto;
  width: 100%;
}

.col8 {
  -webkit-box-flex: 79%;
      -ms-flex: 79%;
          flex: 79%;
  height: auto;
  width: 100%;
}

.col9 {
  -webkit-box-flex: 89%;
      -ms-flex: 89%;
          flex: 89%;
  height: auto;
}

.col10 {
  -webkit-box-flex: 99%;
      -ms-flex: 99%;
          flex: 99%;
  height: auto;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container button {
  background: white;
  border: 1px solid black;
  color: black;
  border-radius: 3px;
  width: 20%;
  height: 32px;
}

.container i {
  height: 25px;
  width: 25px;
  margin-right: 3%;
  color: rgba(0, 0, 0, 0.54);
}

.container img {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bar {
  border: 1px solid black;
}
/*# sourceMappingURL=style.css.map */