html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  columns grid*/
.col1 {
  -webkit-box-flex: 9%;
      -ms-flex: 9%;
          flex: 9%;
  height: 100%;
}

.col2 {
  -webkit-box-flex: 19%;
      -ms-flex: 19%;
          flex: 19%;
  height: auto;
  width: 100%;
}

.col3 {
  -webkit-box-flex: 29%;
      -ms-flex: 29%;
          flex: 29%;
  height: auto;
}

.col4 {
  -webkit-box-flex: 39%;
      -ms-flex: 39%;
          flex: 39%;
  height: auto;
  width: 100%;
}

.col5 {
  -webkit-box-flex: 49%;
      -ms-flex: 49%;
          flex: 49%;
  height: auto;
  width: 100%;
}

.col6 {
  -webkit-box-flex: 59%;
      -ms-flex: 59%;
          flex: 59%;
  height: auto;
  width: 100%;
}

.col7 {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  height: auto;
  width: 100%;
}

.col8 {
  -webkit-box-flex: 79%;
      -ms-flex: 79%;
          flex: 79%;
  height: auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col9 {
  -webkit-box-flex: 89%;
      -ms-flex: 89%;
          flex: 89%;
  height: auto;
}

.col10 {
  -webkit-box-flex: 99%;
      -ms-flex: 99%;
          flex: 99%;
  height: auto;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  vertical-align: middle;
}

.container button {
  background: white;
  border: 1px solid black;
  color: black;
  border-radius: 3px;
  width: 20%;
  height: 32px;
}

.container i {
  height: 32px;
  width: 32px;
  margin-right: 3%;
  color: rgba(0, 0, 0, 0.54);
}

.container img {
  width: 100%;
}

.container2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.container2 button {
  background: white;
  border: 1px solid black;
  color: black;
  border-radius: 3px;
  width: 20%;
  height: 32px;
}

.container2 i {
  height: 25px;
  width: 25px;
  margin-right: 3%;
  color: rgba(0, 0, 0, 0.54);
}

.container2 img {
  width: 100%;
}

.row {
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.bottom {
  height: 50px;
}

.bar2 {
  height: 50px;
}

.bar2 ul li:nth-child(1) {
  margin: 0;
}

.bar2 ul li {
  display: inline;
  margin-left: 1%;
  line-height: 50px;
  vertical-align: middle;
}

.bar2 ul li a {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  font-size: 15px;
  font-family: medium,content,sans-serif;
}

.bar2 ul li a:hover {
  color: darkgray;
}

main article .title-img {
  background: url(../img/img1.jpeg);
  background-size: cover;
  height: 150px;
  background-position: center;
}

main article .title-img h2 {
  display: none;
}

main article .container h2 {
  font-size: 18px;
  color: black;
  font-weight: 900;
  text-align: left;
}

main article .text-article p {
  text-align: left;
  font-size: 12px;
  margin-top: 3%;
  color: rgba(0, 0, 0, 0.54);
}

main article .signature p {
  text-align: left;
  font-size: 11px;
  margin-top: 3%;
}

.thumbnail {
  width: 100px;
  height: 100px;
  float: left;
}

.thumbnail img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */